<footer id="footer">
	<div class="inner">
		<div class="footer-block">
			<a href="<%= RELATIVE_PATH %>" class="footer-logo">
				<img src="<%= RELATIVE_PATH %>img/common/footer-logo.svg" alt="3CGMAE">
			</a>
			<div class="footer-ct">
				<div class="footer-ct__item">
					<h3 class="footer-ct__ttl">Hỗ trợ</h3>
					<ul>
						<li><a href="">Hướng dẫn nạp tiền</a></li>
						<li><a href="">Hướng dẫn nạp game</a></li>
						<li><a href="">Câu hỏi thường gặp</a></li>
						<li><a href="">Chăm sóc khách hàng</a></li>
					</ul>
				</div>
				<div class="footer-ct__item">
					<h3 class="footer-ct__ttl">Dịch vụ</h3>
					<ul>
						<li><a href="">Điều khoản dịch vụ</a></li>
						<li><a href="">Chỉnh sách bảo mật</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-note">
			<div class="footer-note--left">
				<div class="footer-note__copyright"> © 3C GROUP. All rights reserved.  </div>
				<ul class="footer-note__menu">
					<li><a href="">3C Group Profile</a></li>
					<li><a href="">Liên hệ</a></li>
				</ul>
			</div>
			<div class="footer-note--right">
				<ul class="footer-note__sns">
					<li><a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/common/icon-facebook.svg" alt="facebook"></a>
					</li>
					<li><a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/common/icon-in.svg" alt="in"></a></li>
					<li><a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/common/icon-youtube.svg" alt="youtube"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>