<main class="page-<%= pageData.template %>">
	<section class="sec-mv">
		<div class="top-mv">
			<ul class="top-mv__img">
				<li class="top-mv__img-item">
					<img src="<%= RELATIVE_PATH %>img/top/mv-img-01.jpg" alt="img">
				</li>
				<li class="top-mv__img-item">
					<img src="<%= RELATIVE_PATH %>img/top/mv-img-01.jpg" alt="img">
				</li>
				<li class="top-mv__img-item">
					<img src="<%= RELATIVE_PATH %>img/top/mv-img-01.jpg" alt="img">
				</li>
				<li class="top-mv__img-item">
					<img src="<%= RELATIVE_PATH %>img/top/mv-img-01.jpg" alt="img">
				</li>
				<li class="top-mv__img-item">
					<img src="<%= RELATIVE_PATH %>img/top/mv-img-01.jpg" alt="img">
				</li>
				<li class="top-mv__img-item">
					<img src="<%= RELATIVE_PATH %>img/top/mv-img-01.jpg" alt="img">
				</li>
				<li class="top-mv__img-item">
					<img src="<%= RELATIVE_PATH %>img/top/mv-img-01.jpg" alt="img">
				</li>
				<li class="top-mv__img-item">
					<img src="<%= RELATIVE_PATH %>img/top/mv-img-01.jpg" alt="img">
				</li>
			</ul>
			<div class="inner">
				<ul class="top-mv__list">
					<li class="top-mv__list-item">
						<div class="top-mv__list-img">
							<img src="<%= RELATIVE_PATH %>img/top/mv-item-01.png" alt="img">
						</div>
					</li>
					<li class="top-mv__list-item">
						<div class="top-mv__list-img">
							<img src="<%= RELATIVE_PATH %>img/top/mv-item-02.png" alt="img">
						</div>
					</li>
					<li class="top-mv__list-item">
						<div class="top-mv__list-img">
							<img src="<%= RELATIVE_PATH %>img/top/mv-item-03.png" alt="img">
						</div>
					</li>
					<li class="top-mv__list-item">
						<div class="top-mv__list-img">
							<img src="<%= RELATIVE_PATH %>img/top/mv-item-04.png" alt="img">
						</div>
					</li>
					<li class="top-mv__list-item">
						<div class="top-mv__list-img">
							<img src="<%= RELATIVE_PATH %>img/top/mv-item-01.png" alt="img">
						</div>
					</li>
					<li class="top-mv__list-item">
						<div class="top-mv__list-img">
							<img src="<%= RELATIVE_PATH %>img/top/mv-item-02.png" alt="img">
						</div>
					</li>
					<li class="top-mv__list-item">
						<div class="top-mv__list-img">
							<img src="<%= RELATIVE_PATH %>img/top/mv-item-03.png" alt="img">
						</div>
					</li>
					<li class="top-mv__list-item">
						<div class="top-mv__list-img">
							<img src="<%= RELATIVE_PATH %>img/top/mv-item-04.png" alt="img">
						</div>
					</li>
				</ul>
			</div>

		</div>
	</section>
</main>