<main class="page-<%= pageData.template %>">
	<section class="top-mv">
		<ul class="top-mv__img">
			<li class="top-mv__img-item">
				<img src="<%= RELATIVE_PATH %>img/top/mv-img-01.jpg" alt="img">
			</li>
			<li class="top-mv__img-item">
				<img src="<%= RELATIVE_PATH %>img/top/mv-img-01.jpg" alt="img">
			</li>
			<li class="top-mv__img-item">
				<img src="<%= RELATIVE_PATH %>img/top/mv-img-01.jpg" alt="img">
			</li>
			<li class="top-mv__img-item">
				<img src="<%= RELATIVE_PATH %>img/top/mv-img-01.jpg" alt="img">
			</li>
			<li class="top-mv__img-item">
				<img src="<%= RELATIVE_PATH %>img/top/mv-img-01.jpg" alt="img">
			</li>
			<li class="top-mv__img-item">
				<img src="<%= RELATIVE_PATH %>img/top/mv-img-01.jpg" alt="img">
			</li>
			<li class="top-mv__img-item">
				<img src="<%= RELATIVE_PATH %>img/top/mv-img-01.jpg" alt="img">
			</li>
			<li class="top-mv__img-item">
				<img src="<%= RELATIVE_PATH %>img/top/mv-img-01.jpg" alt="img">
			</li>
		</ul>
		<div class="inner">
			<ul class="top-mv__list">
				<li class="top-mv__list-item">
					<div class="top-mv__list-img img-cover">
						<img src="<%= RELATIVE_PATH %>img/top/mv-item-01.png" alt="img">
					</div>
				</li>
				<li class="top-mv__list-item">
					<div class="top-mv__list-img img-cover">
						<img src="<%= RELATIVE_PATH %>img/top/mv-item-02.png" alt="img">
					</div>
				</li>
				<li class="top-mv__list-item">
					<div class="top-mv__list-img img-cover">
						<img src="<%= RELATIVE_PATH %>img/top/mv-item-03.png" alt="img">
					</div>
				</li>
				<li class="top-mv__list-item">
					<div class="top-mv__list-img img-cover">
						<img src="<%= RELATIVE_PATH %>img/top/mv-item-04.png" alt="img">
					</div>
				</li>
				<li class="top-mv__list-item">
					<div class="top-mv__list-img img-cover">
						<img src="<%= RELATIVE_PATH %>img/top/mv-item-01.png" alt="img">
					</div>
				</li>
				<li class="top-mv__list-item">
					<div class="top-mv__list-img img-cover">
						<img src="<%= RELATIVE_PATH %>img/top/mv-item-02.png" alt="img">
					</div>
				</li>
				<li class="top-mv__list-item">
					<div class="top-mv__list-img img-cover">
						<img src="<%= RELATIVE_PATH %>img/top/mv-item-03.png" alt="img">
					</div>
				</li>
				<li class="top-mv__list-item">
					<div class="top-mv__list-img img-cover">
						<img src="<%= RELATIVE_PATH %>img/top/mv-item-04.png" alt="img">
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec-content">
		<div class="inner">
			<h2 class="c-ttl__01">
				<span>DANH SÁCH GAME NỔI BẬT</span>
			</h2>
			<div class="c-txt__basic mbpc-70 mbsp-30">
				<p>Với Chơi Ngay, bạn có thể trải nghiệm mọi thể loại game, mọi lúc, mọi nơi, trên mọi thiết bị.</p>
			</div>
			<ul class="menu-game">
				<li class="menu-game__item">
					<a href="">
						<div class="menu-game__heading">
							<span class="menu-game__heading-code">MMOPR</span>
							<h3 class="menu-game__heading-ttl">
								Chân Long Mobile<br>
								3CGAME
							</h3>
						</div>
						<div class="menu-game__img img-cover">
							<img src="<%= RELATIVE_PATH %>img/top/img-01.jpg" alt="img">
							<span>Xem thêm</span>
						</div>
					</a>
				</li>
				<li class="menu-game__item">
					<a href="">
						<div class="menu-game__heading">
							<span class="menu-game__heading-code">MMOPR</span>
							<h3 class="menu-game__heading-ttl">
								Chân Long Mobile<br>
								3CGAME
							</h3>
						</div>
						<div class="menu-game__img img-cover">
							<img src="<%= RELATIVE_PATH %>img/top/img-01.jpg" alt="img">
							<span>Xem thêm</span>
						</div>
					</a>
				</li>
				<li class="menu-game__item">
					<a href="">
						<div class="menu-game__heading">
							<span class="menu-game__heading-code">MMOPR</span>
							<h3 class="menu-game__heading-ttl">
								Chân Long Mobile<br>
								3CGAME
							</h3>
						</div>
						<div class="menu-game__img img-cover">
							<img src="<%= RELATIVE_PATH %>img/top/img-01.jpg" alt="img">
							<span>Xem thêm</span>
						</div>
					</a>
				</li>
			</ul>
			<h2 class="c-ttl__01">
				<span>TIN TỨC - SỰ KIỆN </span>
			</h2>
			<div class="c-txt__basic mbpc-70 mbsp-30">
				<p>Với Chơi Ngay, bạn có thể trải nghiệm mọi thể loại game, mọi lúc, mọi nơi, trên mọi thiết bị.</p>
			</div>
			<div class="news-block">
				<div class="news-block__first">
					<a href="" class="news-block__first-box">
						<div class="news-block__first-img img-cover">
							<img src="<%= RELATIVE_PATH %>img/top/img-02.jpg" alt="VNGGames chính thức phát hành Thiên Long Bát Bộ VNG vào 12/11">
						</div>
						<div class="news-block__first-ct">
							<span class="news-block__first-ct-note">Khuyễn mãi</span>
							<h2 class="news-block__first-ct-ttl">VNGGames chính thức phát hành Thiên Long<br class="pc"> Bát Bộ VNG vào 12/11</h2>
						</div>
					</a>
				</div>
				<div class="news-block__ct">
					<ul class="news-list">
						<li class="news-list__item">
							<a href="">
								<div class="news-list__img img-cover">
									<img src="<%= RELATIVE_PATH %>img/top/img-03.jpg" alt="3CGames chính thức phát hành Thiên Long Bát Bộ 3C vào 12/11">
								</div>
								<div class="news-list__ct">
									<span class="news-list__ct-note">Tin tức</span>
									<h3 class="news-list__ct-ttl">3CGames chính thức phát hành Thiên <br class="pc">Long Bát Bộ 3C vào 12/11</h3>
								</div>
							</a>
						</li>
						<li class="news-list__item">
							<a href="">
								<div class="news-list__img img-cover">
									<img src="<%= RELATIVE_PATH %>img/top/img-03.jpg" alt="3CGames chính thức phát hành Thiên Long Bát Bộ 3C vào 12/11">
								</div>
								<div class="news-list__ct">
									<span class="news-list__ct-note">Tin tức</span>
									<h3 class="news-list__ct-ttl">3CGames chính thức phát hành Thiên <br class="pc">Long Bát Bộ 3C vào 12/11</h3>
								</div>
							</a>
						</li>
						<li class="news-list__item">
							<a href="">
								<div class="news-list__img img-cover">
									<img src="<%= RELATIVE_PATH %>img/top/img-03.jpg" alt="3CGames chính thức phát hành Thiên Long Bát Bộ 3C vào 12/11">
								</div>
								<div class="news-list__ct">
									<span class="news-list__ct-note">Tin tức</span>
									<h3 class="news-list__ct-ttl">3CGames chính thức phát hành Thiên <br class="pc">Long Bát Bộ 3C vào 12/11</h3>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</main>